################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentIntegration/packages
/PaymentIntegration/User.Web/App_Data
/PaymentIntegration/.vs/PaymentIntegration/v14
/PaymentIntegration/.vs/config
/PaymentIntegration/User.Web/bin
/PaymentIntegration/User.Web/obj/Debug
/PaymentIntegration/User.Payment/bin/Debug
/PaymentIntegration/User.Payment/obj/Debug
/PaymentIntegration/Data.Model/obj/Debug
/PaymentIntegration/Data.Model
/PaymentIntegration/DataAccess/bin/Debug
/PaymentIntegration/DataAccess/obj/Debug
